---
---

@import "{{ site.theme }}";

nav a {
    display: block;
}

@media print, screen and (max-width: 960px) {
    
    header {
        margin-bottom: 20px;
    }

    nav a {
        display: inline;
        padding-right: 8px;
    }
}